<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.choose_stream') }}</h4>
</div>

<div class="modal-body">

    {% include "streams::modals/filter" %}

    {% if not streams.isEmpty() %}
        <ul class="nav nav-pills nav-stacked">
            {% for stream in streams %}
                <li class="nav-item">
                    <a href="{{ url_to('admin/streams/entries/' ~ stream.id) }}"
                       class="nav-link">
                        <strong>{{ stream.name }}</strong>
                        <br>
                        <small>{{ stream.description }}</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
    {% endif %}
</div>
