{% set namespace = entries('streams_utilities', 'groups').findBySlug(session_get('anomaly.module.streams::namespace')) %}

{% if namespace %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">

                {{ namespace.name }}

                {% if table.model.stream.name %}
                    <i class="fa fa-long-arrow-right small"></i> {{ table.model.stream.name }}
                {% endif %}

                {% if form.model.stream.name %}
                    <i class="fa fa-long-arrow-right small"></i> {{ form.model.stream.name }}
                {% endif %}

                {% if table.model.stream.description %}
                    <br>
                    <small class="text-muted">{{ table.model.stream.description }}</small>
                {% elseif form.model.stream.description %}
                    <br>
                    <small class="text-muted">{{ form.model.stream.description }}</small>
                {% elseif namespace.description.value %}
                    <br>
                    <small class="text-muted">{{ namespace.description }}</small>
                {% endif %}

            </h4>
        </div>
    </div>
{% endif %}
